@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Caveat", cursive;
}

body {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, .font-display {
  font-family: "Caveat", cursive;
}
